*{
    margin: 0;
    padding: 0;
}
.forms{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.formulario{
    text-align: justify;
    margin: 30px;
    padding-bottom: 50px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: bold;
}
#enviar{
    font-size: 20px;
    width: 75px;
    height: 40px;
    margin-left: 100px;
}
label{
    margin: 15px;
}
input{
    align-items: center;
    margin: 0;
}